/* TODO: inserite il CSS necessario per completare il MHW! */

/*1*/

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

section div {
    width: 32.5%;
    border: 1px solid #dcdcdc;
    background-color: #f4f4f4;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}

section div img {
    padding: 10px 10px 0px 10px;
}

.choice-grid img.checkbox {
    margin-top: 0px;
    margin-bottom: 10px;
}

.question-name{
    background-size: contain;
}

.question-name h1.Domanda{
    font-size: 42px;
}

/*2*/

@media (max-width: 700px) {
    body {
        width: 95%;
    }

    header div {
        display: none;
    }
}

@media (max-width: 500px) {
    section div {
        width: 49%;
    }
}

/*3*/
.selected {
    background-color: #cfe3ff;
}

.unselected {
    opacity: 0.6;
}


.Result {
    display: flex;
    width: 660px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.Result div {
    width: 100%;
}

.p{
    margin: 18px 0px;
}

.button {
    display: flex;
    background-color: #cecece;
    height: 50px;
    justify-content: center;
   align-items: center;
}

.button:hover {
    background-color: #e0e0e0;
}

.hidden{
    display: none;
}